<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <aplazame_payment>
                <active>0</active>
                <model>Aplazame\Payment\Model\Aplazame</model>
                <payment_action>authorize</payment_action>
                <title>Aplazame</title>
                <allowspecific>0</allowspecific>
                <aplazame_widget>
                    <widget_out_of_limits>show</widget_out_of_limits>
                    <widget_legacy_enabled>0</widget_legacy_enabled>
                    <aplazame_product_widget>
                        <product_widget_enabled>1</product_widget_enabled>
                        <product_downpayment_info>1</product_downpayment_info>
                        <product_legal_advice>0</product_legal_advice>
                        <product_pay_in_4>0</product_pay_in_4>
                        <product_default_instalments> </product_default_instalments>
                        <product_css>.product-info-main span[data-price-type='finalPrice'] .price</product_css>
                        <product_widget_border>1</product_widget_border>
                        <product_widget_max_desired>0</product_widget_max_desired>
                        <product_widget_primary_color>#334BFF</product_widget_primary_color>
                        <product_widget_layout>horizontal</product_widget_layout>
                        <product_widget_align>center</product_widget_align>
                    </aplazame_product_widget>
                    <aplazame_cart_widget>
                        <cart_widget_enabled>1</cart_widget_enabled>
                        <cart_downpayment_info>1</cart_downpayment_info>
                        <cart_legal_advice>0</cart_legal_advice>
                        <cart_pay_in_4>0</cart_pay_in_4>
                        <cart_default_instalments> </cart_default_instalments>
                        <cart_widget_max_desired>0</cart_widget_max_desired>
                        <cart_widget_primary_color>#334BFF</cart_widget_primary_color>
                        <cart_widget_layout>horizontal</cart_widget_layout>
                        <cart_widget_align>center</cart_widget_align>
                    </aplazame_cart_widget>
                </aplazame_widget>
                <aplazame_misc>
                    <change_to_order_id>0</change_to_order_id>
                    <payment_button>#aplazame-payment-method</payment_button>
                </aplazame_misc>
                <aplazame_dev>
                    <checkout_v4>0</checkout_v4>
                </aplazame_dev>
            </aplazame_payment>
        </payment>
    </default>
</config>
